.c-carousel {
    position: relative;
    @include e('button') {
        z-index: $block-carousel-button-z-index;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        color: $block-carousel-icon-color;
        cursor: pointer;
        svg {
            fill: $block-carousel-icon-color;
            height: $block-carousel-icon-size;
            width: auto;
        }
        &:hover,
        &:active {
            svg {
                fill: $block-carousel-icon-color;
            }
        }
        &:focus {
            outline: none;
        }
        @include m('left') {
            left: 0;

        }
        @include m('right') {
            right: 0;

        }
    }
    figure {
        position: relative;
        padding-bottom: 56.25%;
        /* 16:9 */
        height: 0;
        overflow: hidden;
        div {
            position: relative;
        }
    }
    @include e('image') {
        position: absolute;
        width: 100%;
        height: auto;
        opacity: 0;
        transition: opacity 2s;

    }
    @include e('audioplayer') {
        position: absolute;
        width: 100%;
    }
}

.showSlide {

                opacity: 1;

}