<md-content class="c-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 class="md-flex" ng-show="!editing">Je voegt een slideshow toe</h2>
            <h2 class="md-flex" ng-show="editing">Je past je slideshow aan</h2>
        </div>
    </md-toolbar>
    <br/>
    <section layout="column" layout-padding>
        <md-button ng-click="getFiles('image/*')" target="_blank" class="md-raised" md-autofocus>Kies nieuwe afbeeldingen</md-button>
        <md-input-container flex>
            <label>Hoeveel milliseconden wil je de afbeelding laten staan? (1000 miliseconden = 1 seconde)</label>
            <input ng-model="block.parameters.time" ng-init="block.parameters.time = 300">
        </md-input-container>
        <md-input-container>
            <label>Kies de overgang van de fotos</label>
            <md-select ng-model="block.parameters.transition">
                <md-option value="none">
                    Geen
                </md-option>
                <md-option value="slide">
                    Slide
                </md-option>
                <md-option value="zoom">
                    Zoom
                </md-option>
                <md-option value="hexagon">
                    Hexagon
                </md-option>
                <md-option value="fadeAndSlide">
                    Fade en Slide
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container>
            <md-checkbox ng-model="block.parameters.indicators" aria-label="Indicators">
                Wil je dat er een indicatie staat over hoeveel foto's er in de slideshow zitten?
            </md-checkbox>
        </md-input-container>
        <div ng-include="'views/includes.dialog.filters.html'"></div>
        <div ng-include="'views/includes.dialog.style.html'"></div>
        <div ng-include="'views/includes.dialog.audio.html'"></div>
    </section>
    <md-divider></md-divider>
    <!-- Add / close buttons -->
    <div ng-include="'views/includes.dialog.buttons.html'"></div>
</md-content>
