
// Layout & Grid
$small: 30%;
$normal: 50%;
$wide: 75%;
$full: 100%;
$container: 100%;


// Rythm, padding, margin
$text-paragraph-padding: 1em;
$text-paragraph-lineheight: 2rem;


// Colors
$color1: #37393A;
$color2: #7DD1D1;

$text-header1-color: $color1;
$text-header2-color: $color1;
$text-paragraph-color: $color2;
$text-anchor-color: $color2;
$text-anchor-color-hover: $color1;

// Font sizes

$text-paragraph-size: 1em;
$text-header1-size: 4em;
$text-header2-size: 2em;


$blockPaddingBottom: 3em;

.o-block {
    position: relative;
    margin-bottom: $blockPaddingBottom;
}

.o-container {
    width: $container;
    max-width: $container;
    min-width: $container;
    position: relative;

}
