.o-container {
    width: $container;
    max-width: $container;
    min-width: $container;
    position: relative;
}

.o-block {
    position: relative;
    margin-bottom: $blockPaddingBottom;
    @include m('hovered') {
        position: absolute;
        z-index: $block-container-hovered-z-index;
        height: 100%;
        width: 100%;
        background-color: $color2;
        opacity: .5;
    }
}