md-dialog {
  // max-width: 50%;
  // max-height: 90%;
}

.c-dialog {
    font-family: $edit-text-font-family;
h2 {
    font-family: $edit-text-font-family;
}
    @include e('hint') {
        font-size: $edit-dialog-hint-font-size;
        opacity: .5;
    }
}



    md-option .md-text {
    font-family: $edit-text-font-family;
    }
