figure {
    pointer-events:none;
    margin: 0;
}




.editpage {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.left,
.right {
    overflow: auto;
    height: auto;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.left::-webkit-scrollbar,
.right::-webkit-scrollbar {
    display: none;
}

/*
 * Start: Story Header
 */

header {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-position: top;
    background-size: cover;
    color: #ffffff;

    .social svg {
        margin: 5px;
        width: 20px;
        height: 20px;
        fill: #ffffff;
    }

    svg.arrow-bottom {
        fill: #ffffff;
        height: 50px;
    }
}

#nav {
    z-index: 100;
    background-color: #aaaaaa;
    padding: 5px;

    .social svg {
        margin: 5px;
        width: 15px;
        height: 15px;
        fill: #ffffff;
    }
}

#nav.show {
    display: flex !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.social a {
    text-decoration: none;
}

img.brand {
    width: auto;
    height: 25px;
}

h1.title {
    margin: 20px;
}

@media (min-width: 600px) {
    header {
        height: 100vh;
    }
}


/*
 * Feedback button
 */

 .feedback-button {
     background: #aaaaaa;
     padding: 7px 10px;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
     cursor: pointer;

    svg {
        width: 20px;
        vertical-align: middle;
    }
 }

 @media (min-width: 600px) {
     .feedback-button {
        position: fixed;
        top: 50%;
        right: -50px;
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
     }
 }

 @import "compass/css3";

$heartbeat-color: #e87;
$heartbeat-size: 36px; // must be divisible by 2 and 3
$heartbeat-rotation: rotate(45deg);

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content }
  @-moz-keyframes #{$name} { @content }
  @-o-keyframes #{$name} { @content }
  @keyframes #{$name} { @content }
}

@mixin experimental($property, $value, $moz: true, $webkit: true, $o: true, $ms: true, $khtml: true, $official: true) {
  @if $webkit   { -webkit-#{$property} : $value; }
  @if $khtml    {  -khtml-#{$property} : $value; }
  @if $moz      {    -moz-#{$property} : $value; }
  @if $ms       {     -ms-#{$property} : $value; }
  @if $o        {      -o-#{$property} : $value; }
  @if $official {         #{$property} : $value; }
}

@mixin animation($value) {
  @include experimental(animation, $value);
}

@include keyframes(heartbeat) {
  0%  { @include transform($heartbeat-rotation scale(1));   }
  14% { @include transform($heartbeat-rotation scale(1.3)); }
  28% { @include transform($heartbeat-rotation scale(1));   }
  42% { @include transform($heartbeat-rotation scale(1.3)); }
  70% { @include transform($heartbeat-rotation scale(1));   }
}

/* Styles for old versions of IE */
.heartbeat {
  font-family: sans-serif;
  font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.heartbeat:not(:required) {
  @include animation(heartbeat 1300ms ease 0s infinite normal);

  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: $heartbeat-size;
  height: $heartbeat-size;
  @include transform($heartbeat-rotation scale(1));
  @include transform-origin(50%, 50%);

  &:after, &:before {
    position: absolute;
    content: "";
    background: $heartbeat-color;
  }

  &:before {
    @include border-left-radius($heartbeat-size / 3);
    top: ($heartbeat-size/3);
    left: 0;
    width: $heartbeat-size;
    height: (2 * $heartbeat-size / 3);
  }

  &:after {
    @include border-top-radius($heartbeat-size / 3);
    top: 0;
    left: ($heartbeat-size / 3);
    width: (2 * $heartbeat-size / 3);
    height: ($heartbeat-size / 3);
  }
}
