.o-sharing {
    svg {
        margin: 5px;
        width: 20px;
        height: 20px;
        fill: #ffffff;
    }
    svg.arrow-bottom {
        fill: #ffffff;
        height: 50px;
    }
    a {
        text-decoration: none;
    }
}
