.c-sidemenu {
    width: $sidebar-width;
    @include e('icon') {
        margin-right: $editpage-sidemenu-toggle-icon-size;
        &.c-sidemenu__icon--live {
            padding-top: .0em;
        }
    }
    @include e('toggle') {
        height: $editpage-sidemenu-toggle-icon-size;
        width: $editpage-sidemenu-toggle-icon-size;
        position: fixed;
        top: $editpage-sidemenu-toggle-icon-size;
        left: $editpage-sidemenu-toggle-icon-size;
        z-index: $editpage-sidemenu-toggle;
    }
}



.o-sortable {
    @include e('list') {
    margin: 0;
    padding: 0;
    padding-bottom: 5rem;
    li {
        padding-right: 2px;
    }
    }
    @include e('item') {
        background-color: $color2;
        margin-bottom: 1rem;
        height: $editpage-sidemenu-sortable-block-height;
        width: 100%;
        border-color: $color3;
        border-style: solid;
    }
    @include e('text') {
        background: $color2 url('../images/sortable-text.svg') no-repeat center;
        background-size: $editpage-sidemenu-sortable-block-background-size;
    }
    @include e('video') {
        background: $color2 url('../images/sortable-video.svg') no-repeat center;
        background-size: $editpage-sidemenu-sortable-block-background-size;
    }
    @include e('image') {
        background: $color2 url('../images/sortable-image.svg') no-repeat center;
        background-size: $editpage-sidemenu-sortable-block-background-size;
    }
    @include e('embed') {
        background: $color2 url('../images/sortable-embed.svg') no-repeat center;
        background-size: $editpage-sidemenu-sortable-block-background-size;
    }
}

.as-sortable-dragging {
    opacity: .8;
}

.as-sortable-placeholder {
    background-color: $color2;
    opacity: .3;
}
