.c-editpage__left,
.c-editpage__center,
.c-editpage__right {
    height: auto;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.c-editpage__left::-webkit-scrollbar,
.c-editpage__center::-webkit-scrollbar,
.c-editpage__right::-webkit-scrollbar {
    display: none;
}

.c-editpage {
    display: flex;
    height: 100vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
    @include e('left') {
        position: fixed;
        width: $sidebar-width;
        height: 100vh;
        overflow-y: auto;
        // border: none;
        z-index: 2;
        box-shadow: 1px 0px 1px #eee;
        padding-top: 2em;
        @include m('preview') {
            width: $sidebar-width-preview;
        }
    }
    @include e('center') {
        margin-left: $sidebar-width;
        width: 100%;
        @include m('preview') {
            margin-left: $sidebar-width-preview;
        }
    }
    @include e('right') {
        min-width: 320px;
        width: 480px;
        margin-left: .2em;
        height: 100vh;
    }
    .storyheader {
        @include e('nav') {
            left: $sidebar-width !important;
        }
    }
}