.c-sidemenu {
    width: $sidebar-width;
    @include e('icon') {
        padding-top: .6em;
        margin-right: 1em;
        &.c-sidemenu__icon--live {
            padding-top: .0em;
        }
    }
    @include e('toggle') {
        height: 1em;
        width: 1em;
        position: fixed;
        top: 1em;
        left: 1em;
        z-index: 5;
    }
}

.o-sortable {
    height: 2em;
    width: 100%;
    border-color: #fff;
    border-style: solid;
    @include e('text') {
        background: $color2 url('../images/sortable-text.svg') no-repeat center;
        background-size: 50% 50%;
    }
    @include e('video') {
        background: $color2 url('../images/sortable-video.svg') no-repeat center;
        background-size: 50% 50%;
    }
    @include e('image') {
        background: $color2 url('../images/sortable-image.svg') no-repeat center;
        background-size: 50% 50%;
    }
    @include e('embed') {
        background: $color2 url('../images/sortable-embed.svg') no-repeat center;
        background-size: 50% 50%;
    }
}

.as-sortable-dragging {
    opacity: .8;
}

.as-sortable-placeholder {
    background-color: $color2;
    opacity: .3;
}
