.c-sidemenu {
    width: $sidebar-width;
    @include e('list') {
        .md-list-item-inner {
            color: $color1;
            transition: color 0.5s ease;
            svg {
                fill: $color1;
                transition: fill 0.5s ease;
            }
            &:hover {
                color: $color2;
                transition: color 0.5s ease;
                svg {
                    fill: $color2;
                    transition: fill 0.5s ease;
                }
            }
        }
    }
    @include e('title') {
        color: $color2;
        cursor: pointer;
        p {
            outline: none;
        }
    }
    @include e('icon') {
        margin-right: $editpage-sidemenu-blocks-icon-size / 2;
        svg {
            margin-top: $editpage-sidemenu-blocks-icon-size/3;
            height: $editpage-sidemenu-blocks-icon-size;
            width: $editpage-sidemenu-blocks-icon-size;
        }
        &.c-sidemenu__icon--live {
            padding-top: .0em;
        }
    }
    @include e('toggle') {
        height: $editpage-sidemenu-toggle-icon-size;
        width: $editpage-sidemenu-toggle-icon-size;
        position: fixed;
        top: $editpage-sidemenu-toggle-icon-size;
        left: $editpage-sidemenu-toggle-icon-size;
        z-index: $editpage-sidemenu-toggle;
    }
}

.o-sortable {
    @include e('list') {
        margin: 0;
        padding: 0;
        padding-bottom: 5rem;
        li {
            padding-right: 2px;
        }
    }
    @include e('item') {
        outline: none;
        > div {
            background-color: $color2;
            margin-bottom: 1rem;
            height: $editpage-sidemenu-sortable-block-height;
            width: 100%;
            border-color: $color3;
            border-style: solid;
            svg {
                fill: $color3;
                margin-top: $editpage-sidemenu-blocks-icon-size/3;
                height: $editpage-sidemenu-blocks-icon-size;
                width: $editpage-sidemenu-blocks-icon-size;
            }
        }
    }
}

.as-sortable-dragging {
    opacity: .8;
}

.as-sortable-placeholder {
    background-color: $color2;
    opacity: .3;
}
