


html {

}

body {

}


h1 {

}


h2 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 200 !important;
    text-transform: uppercase;
    letter-spacing: .5rem;

}

h3 {

}


a {
    color: $text-anchor-color;
    text-decoration: underline;
}

a:hover {
    color: $text-anchor-color-hover;
    text-decoration: underline;
}

blockquote {
    border-left: .2em solid $color2;
    padding: 1em;
    font-style: italic;
    background-color: rgba( $color2, .2);
    line-height: $text-blockquote-lineheight;
}
