@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);


//sidemenu
$edit-sidemenu-toggle-icon-size: 1rem;
$edit-sidemenu-blocks-icon-size: 1.5rem;
$edit-sidemenu-sortable-block-height: 2rem;
$edit-sidemenu-sortable-block-background-size: 50% 50%;
$edit-sidemenu-width: 250px;
$edit-sidemenu-width-preview: 3.5em;

// Medium
$medium-edictor-icon-size: 1rem;
$medium-edictor-icon-color: #fff;

// Colors
$edit-color1: #37393A;
$edit-color2: #79BD9A;
$edit-color3: #CFF09E;
$edit-color4: #3B8686;
$edit-color4: #0B486B;
$edit-color4: #A8DBA8;


// Fonts
$edit-text-font-family: 'Open Sans', sans-serif;
$edit-text-size: .9rem;
$edit-dialog-hint-font-size: ($edit-text-size/10*8)rem;


// Z-index
$edit-sidemenu-zindex: 100;
$edit-sidemenu-toggle-zindex: 101;