.c-viewpage {
    h1 {
        font-size: $text-header1-font-size;
        font-family: $text-header1-font-family;
        font-weight: $text-header1-font-weight;
        line-height: $text-header1-font-lineheight;
        color: $text-header1-font-color;
        display: inline-block;
    }
    .brand-special-header-one {
        font-size: $text-header2-font-size;
        font-family: $text-header2-font-family;
        font-weight: $text-header2-font-weight;
        line-height: $text-header2-font-lineheight;
        color: $text-header2-font-color;
        display: inline-block;
        @extend .t-h2__extra;
    }



    .brand-special-header-two {
        font-size: $text-header3-font-size;
        font-family: $text-header3-font-family;
        font-weight: $text-header3-font-weight;
        line-height: $text-header3-font-lineheight;
        color: $text-header3-font-color;
        display: inline-block;
        @extend .t-h3__extra;
    }


    p {
        font-size: $text-main-font-size;
        font-family: $text-main-font-family;
        font-weight: $text-main-font-weight;
        line-height: $text-main-font-lineheight;
        color: $text-main-font-color;
    }
    a {
        color: $text-link-font-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .special-quote {
        font-size: $text-main-font-size;
        font-family: $text-main-font-family !important;
        font-weight: $text-main-font-weight;

        line-height: $text-main-font-lineheight;
        color: $text-main-font-color;
        font-weight: 800;
        padding-left: 1rem;
        padding-right: 1rem;
        &::before {
            content: '';
            -ms-transform: rotate(180deg);
            /* IE 9 */

            -webkit-transform: rotate(180deg);
            /* Chrome, Safari, Opera */
            transform: rotate(180deg);
            width: 1.2rem;
            height: 1rem;
            display: block;
            color: red;
            position: relative;
            left: -10px;
            background-image: url(../icons/quote.svg)
        }
    }
    b {
        font-weight: 800;
    }
    i {
        font-style: italic;
    }
}
