.o-sharing {
    svg {
        margin: $sharing-icon-margin;
        width: $sharing-icon-size;
        height: $sharing-icon-size;
        fill: $sharing-icon-color;
    }
    a {
        text-decoration: none;
    }
}
