/*
 * Feedback button
 */

.o-feedback {
    @media (min-width: 600px) {
        position: fixed;
        top: 50%;
        right: -40px;
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    @include e('content') {
        width: 50vw;
        height: 30vh;
        overflow: hidden;
    }
    @include e('form') {
        width: 100%;
        height: 100%;

    }
}
