// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


@import "variables";
@import "type";
@import "mixin.bem";

@import "story.edit";
@import "story.edit.sidemenu";
@import "story.feedback";
@import "story.positioninpage";

@import "blocks";
@import "blocks.filters";
@import "blocks.embeds";

@import "../blocks/text/text.view";

@import "../blocks/image/image.view";
@import "../blocks/image/image.dialog";

@import "../blocks/parallax/parallax.view";
@import "../blocks/parallax/parallax.dialog";

@import "../blocks/video/video.view";
@import "../blocks/video/video.dialog";

@import "../blocks/twitter/twitter.view";
@import "../blocks/twitter/twitter.dialog";

@import "../blocks/facebook/facebook.view";
@import "../blocks/facebook/facebook.dialog";

@import "../blocks/iframe/iframe.view";
@import "../blocks/iframe/iframe.dialog";

@import "../blocks/linepainter/linepainter.view";
@import "../blocks/linepainter/linepainter.dialog";

@import "../blocks/hero/hero.view";

@import "../blocks/break/break.view";

@import "../blocks/map/map.view";

@import "../blocks/audioplayer/audioplayer.view";

@import "../blocks/carousel/carousel.view";

@import "../blocks/masonry/masonry.view";

@import "../blocks/gif/gif.view";


@import "shame";
