.o-hero {
    @include e('image') {
        width: 100%;
        height: auto;
        margin-bottom: -0.6rem;
    }
    // color: $color1;
    // text-shadow: .2px .2px grey;
    h3,
    h4 {
        // color: $color1;
        // text-shadow: .2px .2px grey;
    }
    position: relative;
    @include e('text') {
        position: absolute;
        z-index: $block-hero-text-z-index;
        top: 0px;
        height: 100%;
        width: 100%;

    }
}
