.o-hero {
    @include e('content') {
        width: 100%;
        height: auto;
        margin-bottom: -0.6rem;
    }
    position: relative;
    @include e('image') {
        width: 100%;
        height: auto;
    }
    @include e('text') {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: $block-hero-text-z-index;
        > div {
            background-color: $hero-background-color;
            margin: 2%;
            padding: 2%;
            width: 40%;
        }
    }
}
