.c-hero__dialog {
    > div {
        text-align: center;
        padding: 1rem;
        background-color: $view-color2;
        border-color: $view-color3;
        border-style: solid;
        border-width: .2rem;
        color: $view-color3;
        transition: background-color 0.5s ease;
        cursor: pointer;
        &:hover {
            background-color: $view-color1;
            transition: background-color 0.5s ease;
        }
    }
    .selectedposition {
        background-color: $edit-color2;
    }
}
