<md-content ng-init="size = 'normal'">
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Je voegt een afbeelding toe</h2>
        </div>
    </md-toolbar>
    <br/>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button ng-click="pickFile('image/*')" target="_blank" class="md-raised" md-autofocus>Kies een nieuwe afbeelding</md-button>
        <!-- Of kies eentje van de reeds geuploade afbeeldingen: -->
        <!--     <ul>
        <li ng-repeat="f in files">{{f.url}}</li>
    </ul> -->
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <p>Kies een stijl:</p>
        <md-input-container>
            <label>Layout</label>
            <md-select ng-model="size" ng-change="changeStyle(size)">
                <md-option value="small">
                    Klein
                </md-option>
                 <md-option value="smallGrid">
                    Klein in grid
                </md-option>
                <md-option value="normal">
                    Normaal
                </md-option>
                <md-option value="wide">
                    Breed
                </md-option>
                <md-option value="full">
                    Volledige breedte
                </md-option>
            </md-select>
        </md-input-container>
    </section>
    <md-divider></md-divider>
    <div class="md-actions" layout="row">
        <md-button ng-hide="block.$id" ng-click="addBlock(articleId, block)" target="_blank" md-autofocus>
            Voeg toe
        </md-button>
        <span flex></span>
        <md-button ng-click="closeDialog()" style="margin-right:20px;">
            Sluit
        </md-button>
    </div>
</md-content>
