<md-content ng-init="size = 'normal'">
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Je voegt een filmpje toe</h2>
        </div>
    </md-toolbar>
    <br/>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button ng-click="pickFile('video/*')" target="_blank" class="md-raised" md-autofocus>Kies een nieuwe filmpje</md-button>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-input-container flex>
            <label>Of plaats een url</label>
            <input ng-model="block.parameters.url">
        </md-input-container>
    </section>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <p>Kies een grootte:</p>
        <md-input-container>
            <label>Layout</label>
           <md-select ng-model="size" ng-change="changeStyle(size)" >
                <md-option value="small">
                    Klein (33% van het scherm)
                </md-option>
                <md-option value="normal">
                    Normaal (50% van het scherm)
                </md-option>
                <md-option value="wide">
                    Breed (80% van het scherm)
                </md-option>
                <md-option value="full">
                    Volledige breedte (100% van het scherm)
                </md-option>
            </md-select>
        </md-input-container>
    </section>
    <md-divider></md-divider>
    <div class="md-actions" layout="row">
        <md-button ng-hide="block.$id" ng-click="addBlock(articleId, block)" target="_blank" md-autofocus>
            Voeg toe
        </md-button>
        <span flex></span>
        <md-button ng-click="closeDialog()" style="margin-right:20px;">
            Sluit
        </md-button>
    </div>
</md-content>
