.o-audioplayer {
    @include e('play') {
        margin-top: .1rem;
        width: 50px;
        height: 36px;
    }
    @include e('pause') {
        margin-top: .1rem;
        width: 50px;
        height: 36px;
    }
    @include e('range') {
        width: $block-audio-range-width;
    }
    @include e('timing') {
        vertical-align: top;
    }
    @include e('volumeOn') {}
    @include e('volumeOff') {}
    svg {
        width: $block-audio-icon-size;
        height: $block-audio-icon-size;
        fill: $audioplayer-color;
    }
    @include e('progress') {
        margin-right: 1rem;
        width: 100%;
        md-slider.md-default-theme,
        md-slider .md-track.md-track-fill {
            background-color: $audioplayer-color;
        }
        md-slider .md-thumb:after {
            display: none;
        }
        md-slider.md-default-theme,
        md-slider .md-focus-ring {
            background-color: $audioplayer-color;
        }
        md-slider.md-default-theme,
        md-slider .md-thumb:after {
            background-color: $audioplayer-color;
            border-color: $audioplayer-color;
        }
    }
    @include e('timing') {
        white-space: nowrap;
        font-size: 1rem;
        color: $audioplayer-color;
        margin-top: -.1rem;
    }
    @include e('mute') {
        margin-top: -.1rem;
        margin-left: 1rem;
        padding-right: 2rem;
        height: 30px;
        width: 30px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        span {
            display: block;
            width: 8px;
            height: 8px;
            background: $audioplayer-color;
            margin: 11px 0 0 2px;
            &:after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-color: transparent $audioplayer-color transparent transparent;
                border-width: 10px 14px 10px 15px;
                left: -13px;
                top: 5px;
            }
            &:before {
                transform: rotate(45deg);
                border-radius: 0 50px 0 0;
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                border-style: double;
                border-color: $audioplayer-color;
                border-width: 7px 7px 0 0;
                left: 18px;
                top: 9px;
                transition: all 0.2s ease-out;
            }
        }
        &:hover {
            span:before {
                transform: scale(.8) translate(-3px, 0) rotate(42deg);
            }
        }
        &.mute {
            span:before {
                transform: scale(.5) translate(-15px, 0) rotate(36deg);
                opacity: 0;
            }
        }
    }
}
