<div class="o-audioplayer" layout="row" layout-align="center center">
    <div ng-click="play()">
        <div ng-include="'icons/play.html'" class=" o-audioplayer__play nofocus" ng-show="audio.paused"></div>
        <div ng-include="'icons/pause.html'" class=" o-audioplayer__pause nofocus" ng-show="!audio.paused"></div>
    </div>
    <div class="o-audioplayer__progress">
        <md-slider flex aria-label="progress" aria-controls="audio-slider" ng-model="audio.progress" step="0.001" min="0" max="1">
        </md-slider>
    </div>
    <div class="o-audioplayer__timing">{{ audio.currentTime | audioTime }} / {{ audio.currentTime + audio.remaining | audioTime }}</div>
    <div class="o-audioplayer__mute clickable" ng-click="mute()" ng-class="{'mute': audio.muting}">
        <span></span>
    </div>
</div>
