<div class="o-audioplayer" layout="row" layout-align="center center">
    <div class="o-audioplayer__play" ng-click="play()">
        <span class="o-audioplayer__playicon" ng-class="{'pause': !audio.paused}"></span>
    </div>
    <div class="o-audioplayer__progress">
        <md-slider flex ng-model="audio.progress" step="0.001" min="0" max="1">
        </md-slider>
    </div>
    <div class="o-audioplayer__timing">{{ audio.currentTime | audioTime }} / {{ audio.currentTime + audio.remaining | audioTime }}</div>
    <div class="o-audioplayer__mute clickable" ng-click="mute()" ng-class="{'mute': audio.muting}">
        <span></span>
    </div>
    <!-- <span class="clickable" ng-hide="audio.muting" ng-click="mute()" ng-include="'icons/volume-on.html'"></span>
    <span class="clickable" ng-show="audio.muting" ng-click="mute()" ng-include="'icons/volume-off.html'"></span> -->
</div>
<!-- id="{{ id }}" du-smooth-scroll du-scrollspy="{{ id }}" -->
