.medium-editor-action {
    width: $medium-edictor-icon-size;
    height: $medium-edictor-icon-size;
    div {
        width: $medium-edictor-icon-size;
        height: $medium-edictor-icon-size;
    }
    svg {
        width: $medium-edictor-icon-size;
        height: $medium-edictor-icon-size;
        fill: $medium-edictor-icon-color;
    }
}

