/*
 * Sound icon (In directives.soundicon)
 */

.c-mutebackground {
    z-index: $block-mutebackground-icon-z-index;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    &:focus {
        outline: 0;
    }
    svg {
        width: $block-audiobackground-icon-size;
        height: auto;
        fill: $block-audiobackground-icon-color
    }
}
