<feedback article="articleId"></feedback>
<md-sidenav class="md-sidenav-left" md-component-id="menu">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools" layout="row">
            <div flex offset="5">
                <h3>
                    <span >Opties</span>
                </h3>
            </div>
        </div>
    </md-toolbar>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised" ng-show="!articleMeta.live" ng-click="addToLive(articleId, articleMeta.live);articleMeta.live = true">Zet live</md-button>
        <md-button class="md-raised" ng-show="articleMeta.live" ng-click="addToLive(articleId, articleMeta.live)">Zet veranderingen live</md-button>
        <md-button class="md-raised" ng-show="articleMeta.live" ng-click="goToLive(articleId)">Open live Artikel</md-button>
        <md-button class="md-raised" ng-show="articleMeta.live" ng-click="removeFromLive(articleId, articleMeta.live);articleMeta.live = false">Verwijder van Live</md-button>
        <md-button class="md-raised" ng-click="deleteArticle(articleId, articleMeta.live)">Verwijder</md-button>
        <md-button class="md-raised" ng-click="goHome()">Ga naar begin</md-button>
    </section>
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools" layout="row">
            <div flex offset="5">
                <h3>
        <span >Voeg een blokje toe</span>
      </h3>
            </div>
        </div>
    </md-toolbar>
    <ul layout="row" layout-wrap>
        <div flex="33" data-ng-repeat="b in buttons">
            <li ng-click="openDialog(articleId, b.type, null)" class="o-add o-add__{{b.type}}">
                <md-tooltip>
                    {{b.name}}
                </md-tooltip>
            </li>
        </div>
    </ul>
    <md-divider></md-divider>
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools" layout="row">
            <div flex offset="5">
                <h3>
        <span >Toegevoegde blokjes</span>
      </h3>
            </div>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <ul data-as-sortable="dragControlListeners" data-ng-model="list" layout="row" layout-wrap layout-align="center start">
            <li flex="{{item.parameters.width}}" data-ng-repeat="(key,item) in list" data-as-sortable-item>
                <div data-as-sortable-item-handle class="o-sortable o-sortable__{{item.type}}"></div>
            </li>
            </a>
        </ul>
        <md-divider></md-divider>
    </md-content>
</md-sidenav>
<div layout="column">
    <md-content>
        <div class="o-container">
            <div ng-click="toggleMenu()">
                <div class="o-menu__toggle" ng-class="{'material--arrow': isOpenLeft()}">
                    <span></span>
                    <md-tooltip>Menu</md-tooltip>
                </div>
            </div>
            <div layout="row" layout-wrap layout-align="center start" layout-padding layout-margin layout-fill>
                <div class="o-block {{value.parameters.class}}" ng-repeat="(key,value) in list" flex-gt-sm="{{value.parameters.width}}" flex-sm="100">
                    <div class="o-edit__buttons {{value.type}}" layout="column" layout-align="start start">
                        <div>
                            <svg version="1.1" ng-click="openDialog(articleId, value.type, value.$id)" id="editButton" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 485.219 485.22" style="enable-background:new 0 0 485.219 485.22;" xml:space="preserve">
                                <g>
                                    <path d="M467.476,146.438l-21.445,21.455L317.35,39.23l21.445-21.457c23.689-23.692,62.104-23.692,85.795,0l42.886,42.897
        C491.133,84.349,491.133,122.748,467.476,146.438z M167.233,403.748c-5.922,5.922-5.922,15.513,0,21.436
        c5.925,5.955,15.521,5.955,21.443,0L424.59,189.335l-21.469-21.457L167.233,403.748z M60,296.54c-5.925,5.927-5.925,15.514,0,21.44
        c5.922,5.923,15.518,5.923,21.443,0L317.35,82.113L295.914,60.67L60,296.54z M338.767,103.54L102.881,339.421
        c-11.845,11.822-11.815,31.041,0,42.886c11.85,11.846,31.038,11.901,42.914-0.032l235.886-235.837L338.767,103.54z
         M145.734,446.572c-7.253-7.262-10.749-16.465-12.05-25.948c-3.083,0.476-6.188,0.919-9.36,0.919
        c-16.202,0-31.419-6.333-42.881-17.795c-11.462-11.491-17.77-26.687-17.77-42.887c0-2.954,0.443-5.833,0.859-8.703
        c-9.803-1.335-18.864-5.629-25.972-12.737c-0.682-0.677-0.917-1.596-1.538-2.338L0,485.216l147.748-36.986
        C147.097,447.637,146.36,447.193,145.734,446.572z" />
                            </svg>
                        </div>
                        <div>
                            <svg ng-click="openDialog(articleId, 'delete', key)" version="1.1" id="deleteButton" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 791.957 791.957" style="enable-background:new 0 0 791.957 791.957;" xml:space="preserve">
                                <g>
                                    <g>
                                        <g>
                                            <path d="M585.82,235.876H209.179c-39.621,0-71.728,32.082-71.728,71.703l38.865,412.675c0,39.597,32.131,71.703,71.751,71.703
                h304.89c39.62,0,71.751-32.106,71.751-71.703l32.888-412.675C657.547,267.958,625.441,235.876,585.82,235.876z M301.839,666.41
                c0,19.786-16.053,35.814-35.864,35.814c-19.81,0-35.863-16.053-35.863-35.814V343.467c0-19.786,16.053-35.888,35.863-35.888
                c19.811,0,35.864,16.102,35.864,35.888V666.41L301.839,666.41z M427.385,666.41c0,19.786-16.053,35.814-35.863,35.814
                c-19.81,0-35.863-16.053-35.863-35.814V343.467c0-19.786,16.053-35.888,35.863-35.888c19.811,0,35.863,16.102,35.863,35.888
                V666.41z M552.933,666.41c0,19.786-16.054,35.814-35.864,35.814s-35.863-16.053-35.863-35.814V343.467
                c0-19.786,16.053-35.888,35.863-35.888s35.864,16.102,35.864,35.888V666.41z M190.027,200.013L624.27,88.299
                c23.981-6.148,38.425-30.594,32.252-54.576c-6.172-23.982-30.618-38.425-54.6-32.326L468.446,35.748
                c-12.369-18.347-35.205-27.983-57.845-22.177l-52.088,13.443c-22.641,5.831-37.986,25.275-39.987,47.306l-150.847,38.84
                c-23.982,6.148-38.401,30.594-32.253,54.576C141.599,191.742,166.045,206.136,190.027,200.013z" />
                                        </g>
                                    </g>
                            </svg>
                        </div>
                    </div>
                    <blocks-edit-dispatcher type="value.type" analytics-on="scrollby" parameters="value.parameters" id="value.$id" article="articleId"></blocks-dispatcher>
                </div>
            </div>
        </div>
    </md-content>
</div>
