<md-input-container>
    <label>Kies een grootte</label>
    <md-select ng-model="size" ng-change="changeStyle(size)">
        <md-option value="20">
            Zeer klein (20% van het scherm)
        </md-option>
        <md-option value="33">
            Klein (33% van het scherm)
        </md-option>
        <md-option value="50">
            Normaal (50% van het scherm)
        </md-option>
        <md-option value="80">
            Breed (80% van het scherm)
        </md-option>
        <md-option value="100">
            Volledige breedte (100% van het scherm)
        </md-option>
    </md-select>
</md-input-container>
