<md-input-container>
    <label>Kies een grootte</label>
    <md-select ng-model="size" ng-change="changeStyle(size)">
      <md-option value="10">
            Mini - 10%
        </md-option>
        <md-option value="20">
            Kleiner - 20%
        </md-option>
        <md-option value="33">
            Klein - 33%
        </md-option>
        <md-option value="50">
            Normaal - 50%
        </md-option>
        <md-option value="80">
            Breed - 80%
        </md-option>
        <md-option value="100">
            Volledige breedte - 100%
        </md-option>
    </md-select>
</md-input-container>
