<md-input-container>
    <label>Kies een grootte</label>
    <md-select ng-model="size" ng-change="changeStyle(size)">
      <md-option value="10">
            Mini (1/10 van het scherm)
        </md-option>
        <md-option value="20">
            kleiner (1/5 van het scherm)
        </md-option>
        <md-option value="33">
            Klein (1/3 van het scherm)
        </md-option>
        <md-option value="50">
            Normaal (Helft van het scherm)
        </md-option>
        <md-option value="80">
            Breed (80% van het scherm)
        </md-option>
        <md-option value="100">
            Volledige breedte
        </md-option>
    </md-select>
</md-input-container>
