<div class="editpage">
    <div class="c-sidemenu__toggle" ng-init="preview = false" ng-click="preview = !preview">
        <div ng-include="'icons/menu.html'" class="c-sidemenu__icon"></div>
    </div>
    <div class="left" ng-class="{preview: preview==true}">
        <md-content layout="column" class="c-sidemenu">
            <md-list>
                <md-subheader class="md-sticky" ng-show="!preview">
                    Meta informatie
                </md-subheader>
                <md-list-item ng-click="openDialog(articleId, 'meta')">
                    <div ng-include="'icons/meta.html'" class="c-sidemenu__icon"></div>
                    <p>Stel informatie in</p>
                </md-list-item>
                <md-list-item>
                    <div ng-include="'icons/live.html'" class="c-sidemenu__icon c-sidemenu__icon--live"></div>
                    <p>Live</p>
                    <md-switch ng-model="articleMeta.live" class="md-secondary" ng-change="changeLive(articleId, articleMeta.live)" aria-label="Live">

                </md-list-item>
                <md-list-item ng-show="articleMeta.live" ng-click="addToLive(articleId, articleMeta.live)">
                    <div ng-include="'icons/save.html'" class="c-sidemenu__icon"></div>
                    <p>Zet veranderingen live</p>
                </md-list-item>
                <md-list-item ng-show="articleMeta.live" ng-click="goToLive(articleId)">
                    <div ng-include="'icons/viewLive.html'" class="c-sidemenu__icon"></div>
                    <p>Open live Artikel</p>
                </md-list-item>
                <md-list-item ng-click="deleteArticle(articleId, articleMeta.live)">
                    <div ng-include="'icons/delete.html'" class="c-sidemenu__icon"></div>
                    <p>Verwijder artikel</p>
                </md-list-item>
                <md-list-item ng-click="goHome()">
                    <div ng-include="'icons/home.html'" class="c-sidemenu__icon"></div>
                    <p>Ga naar overzicht</p>
                </md-list-item>
                <md-divider></md-divider ng-show="!preview">
                <md-subheader class="md-no-sticky" ng-init="showBlocks = true" ng-show="!preview">
                    <p ng-click="showBlocks = !showBlocks">Bouwblokken</p>
                </md-subheader>
                <md-list-item ng-show="showBlocks" ng-click="openDialog(articleId, b.type, null)" ng-repeat="b in buttons">
                    <div ng-include="'icons/home.html'" class="c-sidemenu__icon"></div>
                    <p>{{b.name}}</p>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader ng-show="!preview" class="md-no-sticky" ng-init="showOverview = true">
                    <p ng-click="showOverview = !showOverview">Overzicht</p>
                </md-subheader>
            </md-list>
            <div ng-show="!preview">
                <md-content layout-padding ng-show="showOverview">
                    <ul data-as-sortable="dragControlListeners" data-ng-model="list" layout="row" layout-wrap layout-align="center start">
                        <li flex="{{value.parameters.width}}" data-ng-repeat="(key,value) in list" ng-click="openDialog(articleId, value.type, value.$id)" data-as-sortable-item ng-mouseover="setActiveBlock(value.$id)" ng-mouseleave="removeActiveBlock()">
                            <div data-as-sortable-item-handle class="o-sortable o-sortable__{{value.type}}"></div>
                        </li>
                        </a>
                    </ul>
                    <md-divider></md-divider ng-show="!preview">
                </md-content>
            </div>
        </md-content>
    </div>
    <div class="right" ng-class="{preview: preview==true}">
        <md-content>
            <div class="o-container">
                <div layout="row" layout-wrap layout-align="center start" layout-margin layout-fill>
                    <story-header class="flex-100" image="articleMeta.meta.headerImage" title="articleMeta.meta.headerTitle" author="articleMeta.meta.author" brand="{url: 'http://news.mediaspecs.be/sites/default/files/canvas.png'}"></story-header>
                    <div class="o-block size-{{value.parameters.width}}" ng-repeat="(key,value) in list" flex-gt-sm="{{value.parameters.width}}" flex-sm="100">
                        <div class="o-block--hovered" ng-show="value.$id == activeBlock"></div>
                        <blocks-dispatcher-edit type="value.type" analytics-on="scrollby" parameters="value.parameters" id="value.$id" article="articleId"></blocks-dispatcher-edit>
                    </div>
                    <feedback article="articleId"></feedback>
                </div>
            </div>
        </md-content>
    </div>
</div>
