<div ng-show="loading">
    <div id="load">
        <div>N</div>
        <div>E</div>
        <div>T</div>
        <div>R</div>
        <div>A</div>
        <div>T</div>
        <div>S</div>
    </div>
</div>
<md-content ng-hide="loading">
    <div class="o-container">
        <div layout="row" layout-wrap layout-align="center start">
            <story-header class="flex-100" image="meta.headerImage" title="meta.title" author="meta.author" brand="{url: 'http://news.mediaspecs.be/sites/default/files/canvas.png'}"></story-header>
            <div class="o-block {{value.parameters.class}}" ng-repeat="(key,value) in blocks" flex-gt-sm="{{value.parameters.width}}" offset-gt-sm="{{value.parameters.offset}}" flex-sm="100" offset-sm="0">
                <blocks-dispatcher-view type="value.type" parameters="value.parameters" id="value.$id" article="articleId"></blocks-dispatcher-view>
            </div>
            <feedback-reader></feedback-reader>
        </div>
    </div>
</md-content>
