<feedback article="articleId">
</feedback>
<div class="editpage">
    <sound-icon></sound-icon>

    <div class="left">
        <md-content layout="column">
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools" layout="row" ng-click="toggleMenuWidth()">
                    <div flex offset="5">
                        <h3>
                            <span >Opties</span>
                        </h3>
                    </div>
                </div>
            </md-toolbar>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised" ng-click="openDialog(articleId, 'meta')">Stel informatie in</md-button>
                <md-button class="md-raised" ng-show="!articleMeta.live" ng-click="addToLive(articleId, articleMeta.live)">Zet live</md-button>
                <md-button class="md-raised" ng-show="articleMeta.live" ng-click="addToLive(articleId, articleMeta.live)">Zet veranderingen live</md-button>
                <md-button class="md-raised" ng-show="articleMeta.live" ng-click="goToLive(articleId)">Open live Artikel</md-button>
                <md-button class="md-raised" ng-show="articleMeta.live" ng-click="removeFromLive(articleId, articleMeta.live)">Verwijder van Live</md-button>
                <md-button class="md-raised" ng-click="deleteArticle(articleId, articleMeta.live)">Verwijder</md-button>
                <md-button class="md-raised" ng-click="goHome()">Ga naar begin</md-button>
            </section>
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools" layout="row">
                    <div flex offset="5">
                        <h3><span >Voeg een blokje toe</span></h3>
                    </div>
                </div>
            </md-toolbar>
            <ul layout="row" layout-wrap>
                <div flex="33" data-ng-repeat="b in buttons">
                    <li ng-click="openDialog(articleId, b.type, null)" class="o-add o-add__{{b.type}}">
                        <md-tooltip>
                            {{b.name}}
                        </md-tooltip>
                    </li>
                </div>
            </ul>
            <md-divider></md-divider>
            <md-toolbar class="md-accent">
                <div class="md-toolbar-tools" layout="row">
                    <div flex offset="5">
                        <h3><span >Toegevoegde blokjes </span></h3>
                    </div>
                </div>
            </md-toolbar>
            <md-content layout-padding>
                <ul data-as-sortable="dragControlListeners" data-ng-model="list" layout="row" layout-wrap layout-align="center start" >
                    <li flex="{{value.parameters.width}}" data-ng-repeat="(key,value) in list" ng-click="openDialog(articleId, value.type, value.$id)" data-as-sortable-item ng-mouseover="setActiveBlock(value.$id)"  ng-mouseleave="removeActiveBlock()">
                        <div data-as-sortable-item-handle class="o-sortable o-sortable__{{value.type}}"></div>
                    </li>
                    </a>
                </ul>
                <md-divider></md-divider>
            </md-content>
        </md-content>
    </div>
    <div class="right">

        <md-content>

            <div class="o-container">
                <div layout="row" layout-wrap layout-align="center start" layout-margin layout-fill>

                    <story-header class="flex-100" image="articleMeta.meta.headerImage"
                                  title="articleMeta.meta.title"
                                  author="articleMeta.meta.author"
                                  brand="{url: 'http://news.mediaspecs.be/sites/default/files/canvas.png'}"></story-header>

                    <div class="o-block size-{{value.parameters.width}}" ng-repeat="(key,value) in list" flex-gt-sm="{{value.parameters.width}}" flex-sm="100">

                        <div class="o-block--hovered" ng-show="value.$id == activeBlock"></div>
                        <blocks-dispatcher-edit type="value.type" analytics-on="scrollby" parameters="value.parameters" id="value.$id" article="articleId"></blocks-dispatcher-edit>
                    </div>
                </div>
            </div>
        </md-content>
    </div>
</div>
