<position-in-page article="articleId"></position-in-page>
<md-content>
    <div class="o-container">
        <div layout="row" layout-wrap layout-align="center start">

            <story-header class="flex-100" image="'http://static2.businessinsider.com/image/5239d8ebeab8eae55d5ec37a/this-enormous-syrian-refugee-camp-is-now-jordans-fifth-largest-city-photos.jpg'"
                          title="'Test Story Header'"
                          author="'Jordy De Loor'"
                          brand="{url: 'http://news.mediaspecs.be/sites/default/files/canvas.png'}"></story-header>

            <div class="o-block {{value.parameters.class}}" ng-repeat="(key,value) in list" flex-gt-sm="{{value.parameters.width}}" offset-gt-sm="{{value.parameters.offset}}" flex-sm="100"  offset-sm="0">
                <blocks-dispatcher-view type="value.type" parameters="value.parameters" id="value.$id" article="articleId"></blocks-dispatcher-view>
            </div>

            <feedback-reader></feedback-reader>
        </div>
    </div>
</md-content>
