<md-content>
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Basisinfo</h2>
        </div>
    </md-toolbar>
    <br/>
    <section layout="column" layout-padding>
        <md-input-container flex>
            <label>Werktitel</label>
            <input ng-model="meta.title">
        </md-input-container>
        <md-input-container>
            <label>Kies het merk</label>
            <md-select ng-model="brand" ng-change="changeBrand(brand)">
                <md-option value="{{b.name}}" ng-repeat="b in brands">{{b.name}}</md-option>
            </md-select>
        </md-input-container>
    </section>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="closeDialog()" style="margin-right:20px;">
            Sluit
        </md-button>
    </div>
</md-content>
