<header class="c-storyheader" layout="column" layout-align="space-between center" ng-hide="image == null || image == ''" layout-padding ng-style="{ 'background-image':'url(' + image + ')' }">
    <div class="c-storyheader__video" ng-style="style" ng-hide="resources == null || resources == ''">
        <!-- <vid-bg resources="resources" full-screen="fullScreen" muted="muted" z-index="zIndex"></vid-bg> -->
    </div>
    <div></div>
    <div>
        <h1 class="c-storyheader__title" hide-sm flex="33" layout="row" layout-padding layout-align="center center" ng-hide="title == ''">{{ maintitle }}</h1>
        <p class="c-storyheader__subtitle" hide-sm flex="13" layout="row" layout-padding layout-align="center center" ng-hide="subtitle == ''">{{ subtitle }}</p>
    </div>
    <a href="#page-start" du-smooth-scroll duration="3000">
        <div class="c-storyheader__arrow"></div>
    </a>
</header>
<div class="c-nav" ng-class="sharing.show ? 'c-nav--sharing' : 'c-nav--nosharing'">
    <div layout="row" class="c-nav__content" flex layout="row" layout-align="space-between center">
        <img class="c-nav__brand" src="{{brandLogo}}">
        <div ng-show="sharing.show">
            <sharing text="" image=""></sharing>
        </div>
    </div>
    <position-in-page article="articleId"></position-in-page>
</div>

<div id="page-start"></div>
<h1 class="c-storyheader__title--mobile" id="title" hide-gt-sm>{{ maintitle }}</h1>
<p class="c-storyheader__subtitle--mobile" hide-gt-sm>{{ subtitle }}</p>
