<md-content>
    <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Je wil dit contentblok verwijderen. Ben je zeker?</h2>
        </div>
    </md-toolbar>
    <br/>
    <div class="md-actions" layout="row">
    {{block}}
        <md-button ng-click="deleteBlock()" target="_blank" md-autofocus>
            Verwijder
        </md-button>
        <span flex></span>
        <md-button ng-click="closeDialog()" style="margin-right:20px;">
            Sluit
        </md-button>
    </div>
</md-content>
