<header class="c-storyheader" layout="column" layout-align="space-between center" ng-hide="image == null" layout-padding ng-style="{ 'background-image':'url(' + image + ')' }">
    <div flex="33" layout="row" layout-align="space-between start" style="width: 100%">
        <div hide-sm flex class="c-storyheader__referal"><a href="{{brand.referalUrl}}" target="blank">{{brand.referalText}}</a></div>
        <div hide-sm flex layout="row" layout-align="center center" class="c-storyheader__logo">
            <img class="t-brand__logo" src="{{ brand.url }}">
        </div>
        <div hide-sm flex class="c-storyheader__sharing" layout="row" layout-align="end start">
            <sharing text="" image=""></sharing>
        </div>
    </div>
    <h1 class="c-storyheader__title" hide-sm flex="33" layout="row" layout-padding layout-align="center center" ng-hide="title == ''">{{ title }}</h1>
    <p class="c-storyheader__subtitle" hide-sm flex="13" layout="row" layout-padding layout-align="center center" ng-hide="author == ''">Door {{ author }}</p>
    <div flex="20" layout="row" layout-padding layout-align="center end" href="#page-start" du-smooth-scroll duration="3000">
        <svg hide-sm class="c-storyheader__arrow" enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <rect fill="none" height="50" width="50" />
            <polygon points="47.25,15 45.164,12.914 25,33.078 4.836,12.914 2.75,15 25,37.25 " />
        </svg>
    </div>
</header>
<div class="c-nav" >
    <div layout="row" class="c-nav__content" flex layout="row" layout-align="space-between center">
            <img class="c-nav__brand" src="{{brand.url}}">
            <sharing text="" image=""></sharing>
    </div>
    <position-in-page article="articleId"></position-in-page>
</div>

<div id="page-start"></div>
<h1 class="c-storyheader__title--mobile" id="title" hide-gt-sm>{{ title }}</h1>
<p class="c-storyheader__subtitle--mobile" hide-gt-sm>{{ author }}</p>